/* line 5, ../sass/buttons.scss */
.form-submit, a.button {
  background: #483A19;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: .75rem;
  line-height: 1.25em;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  padding: 0.4em 1.5em 0.3em;
  border: 1px solid #352b12;
  letter-spacing: 0.05em;
  position: relative;
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-align: center;
}
/* line 20, ../sass/buttons.scss */
.form-submit:hover, .form-submit:active, .form-submit:focus, a.button:hover, a.button:active, a.button:focus {
  background-color: #5b4920;
  border: 1px solid #483A19;
}
/* line 24, ../sass/buttons.scss */
.form-submit:active, a.button:active {
  -moz-box-shadow: inset 0 1px 0 #352b12;
  -webkit-box-shadow: inset 0 1px 0 #352b12;
  box-shadow: inset 0 1px 0 #352b12;
}
/* line 27, ../sass/buttons.scss */
.form-submit[type="image"], a.button[type="image"] {
  padding: 0;
  background: transparent;
  border: 0 none;
  position: absolute;
  top: .5rem;
  right: .333rem;
  width: .875rem;
  height: .875rem;
}

/* line 40, ../sass/buttons.scss */
a.button-orange,
input.button-orange {
  position: relative;
  background: #fff;
  border: 2px solid #fd9e0a;
  color: #fd9e0a;
  font-family: "Bitter", Georgia, serif;
  text-transform: uppercase;
  -moz-border-radius: 0.333rem;
  -webkit-border-radius: 0.333rem;
  border-radius: 0.333rem;
  font-size: .875rem;
  line-height: 1.333em;
  font-weight: 700;
  padding: .25em 1em .333em 1em;
  display: block;
  text-align: center;
  display: inline-block;
}
/* line 55, ../sass/buttons.scss */
a.button-orange:hover, a.button-orange:active, a.button-orange:focus,
input.button-orange:hover,
input.button-orange:active,
input.button-orange:focus {
  color: #d28102;
  background: #fff;
  border: 2px solid #d28102;
}
/* line 60, ../sass/buttons.scss */
a.button-orange:active,
input.button-orange:active {
  -moz-box-shadow: inset 0 1px 0 #d28102;
  -webkit-box-shadow: inset 0 1px 0 #d28102;
  box-shadow: inset 0 1px 0 #d28102;
}
/* line 63, ../sass/buttons.scss */
a.button-orange.smallbutton,
input.button-orange.smallbutton {
  display: inline-block;
  font-size: .8125rem;
  line-height: 1.333em;
  padding: .125em .5em .1875em .5em;
}

/* line 70, ../sass/buttons.scss */
a.border-button {
  position: relative;
  border: 2px solid #aea895;
  color: #483A19;
  font-family: "Bitter", Georgia, serif;
  text-transform: uppercase;
  -moz-border-radius: 0.333rem;
  -webkit-border-radius: 0.333rem;
  border-radius: 0.333rem;
  font-size: .875rem;
  line-height: 1.333em;
  font-weight: 700;
  padding: .25em 1em .333em 1em;
  display: block;
  text-align: center;
  display: inline-block;
}
/* line 83, ../sass/buttons.scss */
a.border-button:hover, a.border-button:active, a.border-button:focus {
  color: #221c0c;
  border: 2px solid #989078;
}
/* line 87, ../sass/buttons.scss */
a.border-button:active {
  -moz-box-shadow: inset 0 1px 0 #989078;
  -webkit-box-shadow: inset 0 1px 0 #989078;
  box-shadow: inset 0 1px 0 #989078;
}
