/* line 4, ../sass/forms.scss */
.description,
.password-strength,
.password-description,
span.password-confirm,
p.tos {
  font-size: .8125rem;
  line-height: 1.333em;
  color: #444;
  margin: .25em 0;
  font-weight: 400;
  max-width: 30em;
}

/* line 16, ../sass/forms.scss */
span.password-confirm,
.password-strength {
  visibility: hidden;
}

/* line 20, ../sass/forms.scss */
.password-result {
  font-weight: 700;
}

/* line 25, ../sass/forms.scss */
.password-description ul {
  font-size: 1em;
  padding-left: 1em;
  list-style-type: square;
  margin: 0.5em 0;
}

/* line 33, ../sass/forms.scss */
.mollom-captcha-container {
  border: 1px solid #483A19;
  display: block;
  padding: .5em;
  font-size: .8125rem;
  line-height: 1.333em;
  background: #fff;
  text-align: center;
  margin-bottom: 1em;
  color: #444;
  max-width: 30em;
}

/* line 45, ../sass/forms.scss */
.form-item,
.views-exposed-widget {
  margin: 1em 0;
}
/* line 48, ../sass/forms.scss */
.form-item label,
.views-exposed-widget label {
  font-weight: 700 !important;
  margin-bottom: 0;
  font-size: .8125rem;
  line-height: 1.333em;
  display: block;
}
/* line 53, ../sass/forms.scss */
.form-item label *,
.views-exposed-widget label * {
  font-weight: 400;
}
/* line 57, ../sass/forms.scss */
.form-item .form-text,
.form-item textarea,
.views-exposed-widget .form-text,
.views-exposed-widget textarea {
  max-width: 30em;
}
/* line 61, ../sass/forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error,
.views-exposed-widget input.error,
.views-exposed-widget textarea.error,
.views-exposed-widget select.error {
  border-color: #CC0000;
}
/* line 66, ../sass/forms.scss */
.form-item .form-item,
.views-exposed-widget .form-item {
  margin: 0;
}

/* line 72, ../sass/forms.scss */
.views-exposed-widget:first-child {
  margin-top: 0;
}

/* line 77, ../sass/forms.scss */
.form-actions {
  text-align: center;
  padding: 1em 0;
}
/* line 80, ../sass/forms.scss */
.form-actions input {
  margin: 0.5em;
}

/* line 84, ../sass/forms.scss */
select {
  max-width: 100%;
}

/* line 88, ../sass/forms.scss */
form {
  margin: 0;
}

/* line 92, ../sass/forms.scss */
input.form-file {
  color: #444;
  max-width: 100%;
  font-size: .8125rem;
  line-height: 1.333em;
}

/* line 98, ../sass/forms.scss */
input.form-text,
textarea {
  background: #fff;
  border: 1px solid #e5e3dd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0.5em 0.75em;
  width: 100%;
  font-size: .8125rem;
  line-height: 1.333em;
  -moz-box-shadow: #f7f6f4, -3px, 3px, 3px, 0, inset;
  -webkit-box-shadow: #f7f6f4, -3px, 3px, 3px, 0, inset;
  box-shadow: #f7f6f4, -3px, 3px, 3px, 0, inset;
  color: #919191;
}
/* line 108, ../sass/forms.scss */
input.form-text:active, input.form-text:focus,
textarea:active,
textarea:focus {
  border: 1px solid #b9b3a3;
  color: #5e5e5e;
  outline: none;
}

/* line 119, ../sass/forms.scss */
:focus::-webkit-input-placeholder,
:focus::-ms-input-placeholder,
input:focus:-moz-placeholder {
  color: transparent;
}

/* line 125, ../sass/forms.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 130, ../sass/forms.scss */
#fund_paypal_method_process_form {
  margin: 2em 0;
}
